
<div class="d-flex mt-4 flex-wrap align-items-center">
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Beach">
            <i class="fa-solid d-flex fa-umbrella-beach card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Beach</b></p>
            </div>
        </a>
    </div>
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Apartment">
            <i class="fa-building d-flex fa-regular card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Apartment</b></p>
            </div>
        </a>
    </div>
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Tropical">
            <i class="fa-solid d-flex fa-snowflake card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Tropical</b></p>
            </div>
        </a>
    </div>
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Farmhouse">
            <i class="fa-solid d-flex fa-house-chimney-window card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Farmhouse</b></p>
            </div>
        </a>
    </div>
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Forest">
            <i class="fa-solid d-flex fa-tree card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Forest</b></p>
            </div>
        </a>
    </div>
    <div class="card d-flex pt-1 ps-3 pe-3 align-items-center me-4 cat-card">
        <a href="/listings/search?q=Mountain">
            <i class="fa-solid d-flex fa-mountain card-img-top justify-content-center fs-4 my-2"></i>
            <div class="card-body">
            <p class="card-title mt-1 d-flex align-items-center"><b>Mountain</b></p>
            </div>
        </a>
    </div>
    <div class="form-check form-switch form-check-reverse ms-3" id="tax-switch-container">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Tax switch</label>
    </div>
</div>