<footer>
    <div class="ft-container">
        <div class="socials">
            <a href="https://www.linkedin.com/in/dhruvpanjali/"><i class="fa-brands fa-linkedin lnkd-logo"></i></a>
            <a href="https://github.com/dhruvpanjali"><i class="fa-brands fa-github gthb-logo"></i></i></i></a>
        </div>
        <div class="brand-name">
            &copy; Traveling Owl <span ><b class="text-along">(Devloped by Dhruv Panjali)</b></span>
        </div>
        <div class="ft-info">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>