/* footer */
@media(max-width: 488px){
    .brand-name, .text-along{
        font-size: 0.95rem;
    }
}
.ft-container{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    width: 100%;
    background-color: rgb(192, 187, 187);
}
.socials{
    font-size: 1.4rem;
}
.ft-info a{
    text-decoration: none;
    color: black;
}
.ft-info a:hover{
    text-decoration: underline;
}
.brand-name span{
    color: rgba(0, 0, 0, 0.671);
    font-size: 1rem;
    margin-left: 0.3rem;
}
.socials a{
    color: black;
}
.socials .lnkd-logo{
    cursor: pointer;
    transition: all linear 0.1s 0s;
}
.socials .gthb-logo{
    cursor: pointer;
    transition: all linear 0.1s 0s;
}
.lnkd-logo:hover{
    transform: scale(1.2);
    color: #0b65c3;
}
.gthb-logo:hover{
    transform: scale(1.2);
    color: #0d1017;
}