body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.hero-head{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.review-star{
    color: goldenrod;
}
span{
    font-size: 1.5rem;
    color: grey;
}

/* Map */
#map { 
    box-shadow: 0.25rem 0.25rem 1rem rgba(87, 87, 87, 0.651);
    border-radius: 0.5rem;
    height: 25rem;
    width: 80vh; 
}