body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.hero-head{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.review-star{
    color: goldenrod;
}
span{
    font-size: 1.5rem;
    color: grey;
}